option_settings:
  aws:elasticbeanstalk:application:environment:
    RAILS_ENV: 'production'
    AWS_REGION: 'us-east-1'
    HOSTING_PROVIDER: 'aws'
    RACK_ENV: production
    BUNDLE_PATH: "/var/app/containerfiles/bundle"
    RAILS_LOG_TO_STDOUT: true
    MYSQL_HOST: us-cdbr-east-04.cleardb.com
    MYSQL_DATABASE: heroku_990bc72c5c0bed5
    MYSQL_USERNAME: b2cfda068fe7a6
    MYSQL_PASSWORD: a00f4735
